/* ------------------------------ 공통 css ------------------------------ */
.stats-container {
    position: fixed;
    top: 80px;
    left: 80px;
    width: 97%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    height: calc(100vh - 56px);
    border-radius: 8px;
    background-color: transparent;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 20px;
}

.dashboard-title {
    margin-left: 10px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: italic;
    color: tomato;
    display: flex;
}

.row.header {
    font-weight: bold;
    background-color: #d4cad331;
}

.row {
    display: flex;
    border-bottom: 1px solid #cccccc6e;
    padding: 10px 0;
}

.cell {
    flex: 1;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

/* ------------------------------ 통계 알림 css ------------------------------ */

.statsNoti-chartWrapper-otherTable {
    margin-top: 20px;
    width: 100%;
    height: auto;
    background: #1c1b23;
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.statsNoti-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.statsNoti-table {
    margin-top: 20px;
}