/* ------------------------------ 공통 css ------------------------------ */
.hidden {
    display: none;
}

.dashboard-title {
    margin-left: 15px;
    font-size: 50px;
    font-family: 'Lilita One', serif;
    color: #7CFFDA;
    display: flex;
}

/* ------------------------------ 통계 알림 css ------------------------------ */

.statsNoti-chartWrapper-otherTable {
    /* margin-top: 20px;
    width: 100%;
    height: auto;
    background: #1c1b23;
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 30px; */
    margin-top: 20px;
    width: 100%;
    height: auto;
    padding: 20px;
    background: transparent;
    border-radius: 12px;
    box-sizing: border-box;
    margin-bottom: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.statsNoti-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.statsNoti-table {
    margin-top: 20px;
}