.accessorStats-filterBox {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.accessorStats-filterBox > div:nth-child(1) {
    display: flex;
    gap: 10px;
}

.accessorStats-filterBox > div:nth-child(2) {
    display: flex;
    gap: 10px;
    margin-left: 30px;
}

.accessorStats-filterBox input[type="date"] {
    background-color: #2b2b35;
    color: #fff;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 4px 8px;
}

.accessorStats-filterBox button {
    background-color: #a367f9;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 20px;
}

.accessorStats-filterBox button:hover {
    background-color: #8e52e4;
}

.accessorStats-select {
    display: flex;
    justify-content: end;
    width: 200px;
    padding: 0.5rem 0.9rem;
    font-size: 0.875rem;
    border: none;
    border-radius: 8px;
    background-color: #2b2b35;
    color: #fff;
    border: 1px solid #555;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg fill="white" height="10" viewBox="0 0 20 20" width="10" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 20,0 10,10"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.6rem center;
    background-size: 0.65rem;
    margin-top: 10px;
}

.accessorStats-mainTitle {
    font-size: 28px;
    font-weight: 600;
    /* margin-bottom: 16px; */
}

.accessorStats-mainTitle-date {
    margin-top: 16px;
    margin-bottom: 16px;
}

.accessorStats-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.accessorStats-card {
    background-color: #1c1b22;
    height: 150px;
    border-left: 5px solid #a855f7;
    padding: 20px 24px;
    border-radius: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.accessorStats-card-title {
    font-size: 18px;
    margin-bottom: 15px;
    color: #ccc;
}

.accessorStats-card-value {
    font-size: 22px;
    font-weight: bold;
}

.accessorStats-title {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 600;
}

.accessorStats-chartWrapper {
    margin-top: 20px;
    width: 100%;
    height: auto;
    background: #1c1b2360;
    border: 1px solid #444;
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
}