:root {
  --font-main: 'Pretendard', sans-serif;

  --radius: 12px;

  --color-text-main: #fdfdff;
  --color-text-sub: #caadeb;
  --color-bg: #2c2c2c;

  --color-primary: #AECCEE;
  --color-accent: #c5c6c6;
  --color-secondary: #8d35f0;

  --color-success: #6BBF8D;
  --color-warning: #F4C150;
  --color-error: #E57373;
  --color-info: #74A9D8;

  --color-surface: #212121;
  --color-shadow: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  background: linear-gradient(to bottom,
      #000000 0%,
      #212121 50%,
      #3b2a4d 90%,
      #461e73 100%);
  color: var(--color-text-main);

  height: auto;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
  margin: 0;
  font-family: var(--font-main);
  color: var(--color-text-main);
}

html {
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

main {
  flex: 1;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.container {
  padding: 120px 60px 80px 150px;
  color: #eee;
  min-height: 100vh;
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 24px;
  color: hsl(0, 0%, 100%);
  letter-spacing: 0.06em;
  user-select: none;
  text-shadow: none;
}

/* --- 모션 효과 --- */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(12px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*========== 메인 ==========*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  gap: 12px;
  margin-bottom: 24px;
}

/* ------------------------------ 통계, 메일 공통 css ------------------------------ */
.stats_container {
  position: fixed;
  top: 80px;
  left: 80px;
  width: calc(100vw - 80px);
  padding: 20px;
  box-sizing: border-box;
  height: calc(100vh - 56px);
  border-radius: 8px;
  background-color: transparent;
  font-size: 18px;
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 20px;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.row.header {
  font-weight: bold;
  background-color: #d4cad331;
}

.row {
  display: flex;
  border-bottom: 1px solid #cccccc6e;
  padding: 10px 0;
}

.cell {
  flex: 1;
  padding: 0 10px;
  display: flex;
  align-items: center;
}